.cache
target/
.settings/
bin
.classpath
.project
.DS_Store
dependency-reduced-pom.xml
*.jar
target/
project/target
project/project
.classpath
.project
.cache
src/universal/sparkStreaming/sampleKSOapp/*.jar
/bin
scalastyle-config.xml
