.cache
target/
.settings/
bin
.classpath
.project
.DS_Store
*.jar
scalastyle-output.xml
target/
project/target
project/project
.classpath
.project
.cache
/bin
scalastyle-config.xml
dependency-reduced-pom.xml
pydeps-stage/
*.egg

